<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.main">
	
	<!-- 메인 상품 리스트 보기(카테고리 X) -->	
	<select id="list" resultType="ProductVo">
	<![CDATA[
	select * from (
		select a.likeCount, b.*
		from (select product_id, count(*) likeCount
			from t_like
			group by product_id) a, t_product b
		where a.product_id = b.product_id
		order by a.likeCount desc)
	where rownum <= 8
	]]>
	</select>
	
	
	<select id="getListlike" resultType="ProductVo">
	<![CDATA[
	select c.member_id,d.* from 
 (select * from t_like where member_id=#{member_id})c,
 (select * from (
		select a.likeCount, b.*
		from (select product_id, count(*) likeCount
			from t_like
			group by product_id) a, t_product b
		where a.product_id = b.product_id
		order by a.likeCount desc)
	where rownum <= 8)d 
    where c.product_id(+)=d.product_id
    ]]>
	</select>
	
</mapper>