<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mappers.order">
 
 	<select id="orderList" resultType="OrderVo">
 		select a.*,b.* 
 		from t_order a, t_product b 
 		where a.product_id =b.product_id
 		order by a.order_no
 	</select>
 	

 	<select id="detailOrder" resultType="OrderVo">
		select * from t_order
		where order_no = #{order_no}
	</select>
 	
 	<insert id="insertOrder">
		insert into t_order(
			order_no,member_id,product_id,
			order_amount,order_address,order_phonenum,
			order_date,order_address_detail
		)
		values(
			seq_order_no.nextval,#{member_id},#{product_id},#{order_amount},
			#{order_address},#{order_phonenum},sysdate,#{order_address_detail}
		)
	</insert>
	
	<update id="updateOrder">
		update t_order set
			member_id = #{member_id},
			product_id = #{product_id},
			order_amount = #{order_amount},
			order_address = #{order_address},
			order_phonenum = #{order_phonenum},
			order_date = #{order_date},
			order_address_detail = #{order_address_detail}
		where order_no = #{order_no}
	</update>
	
	<delete id="deleteOrder">
		delete from t_order
		where order_no = #{order_no}
	</delete>

 </mapper>
