<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mappers.order">
 
 	<!-- // 방금(최근) 구매한 개인 주문목록만 조회 -->
 	<select id="recentOrderList" resultType="OrderVo">
 		<![CDATA[
 		select * from
			(select a.*,b.product_name,b.product_image,
				b.price,b.product_author,b.product_publisher
			from t_order a, t_product b
			where member_id = #{member_id}
			and a.product_id = b.product_id
			order by order_no desc)
		where rownum <= #{orderCount}
		]]>
 	</select>
 
 	<select id="orderList" resultType="OrderVo">
 		select a.*,b.* 
 		from t_order a, t_product b 
 		where a.product_id =b.product_id
 		order by a.order_no
 	</select>
 	
 	<select id="myOrder" resultType="OrderVo">
 		select a.*,b.* 
 		from t_order a, t_product b 
 		where a.product_id =b.product_id
 		and a.member_id = #{member_id}
 		order by a.order_no desc
 	</select>
 	

 	<select id="detailOrder" resultType="OrderVo">
		select * from t_order
		where order_no = #{order_no}
	</select>
 	
 	<insert id="insertOrder">
		insert into t_order(
			order_no,member_id,product_id,
			order_amount,order_address,order_phonenum,
			order_date,order_address_detail
		)
		values(
			seq_order_no.nextval,#{member_id},#{product_id},#{order_amount},
			#{order_address},#{order_phonenum},sysdate,#{order_address_detail}
		)
	</insert>
	
	<update id="updateOrder">
		update t_order set
			member_id = #{member_id},
			product_id = #{product_id},
			order_amount = #{order_amount},
			order_address = #{order_address},
			order_phonenum = #{order_phonenum},
			order_date = #{order_date},
			order_address_detail = #{order_address_detail}
		where order_no = #{order_no}
	</update>
	
	<delete id="deleteOrder">
		delete from t_order
		where order_no = #{order_no}
	</delete>
	
	<select id="orderListBymemId" resultType="OrderVo">
 		select a.*,b.* from
 		(select * from t_member
			where member_id = #{member_id}) a, t_order b 
 		where a.member_id = b.member_id
 		order by b.order_no desc
 	</select>
 	
 	<update id="updatePoint">
		update t_member set member_point=#{nowHavePoint} where member_id=#{member_id}
	</update>
	
	<select id="nowPoint" resultType="int">
		select member_point from t_member where member_id=#{member_id}
	</select>
	
	<select id="checkBuyer" resultType="int">
		select count(*) from t_order
		where member_id = #{member_id}
		and product_id = #{product_id}
	</select>
	
	<select id="getOrderList" resultType="OrderVo">
	<![CDATA[
		 select * from
        (select o.*, p.product_name, p.product_image, p.price, p.product_author, p.product_publisher 
        from t_order o,t_product p
        where o.product_id = p.product_id 
        order by o.order_no desc)
        where ROWNUM <= 5
	]]>
	</select>
	
	<select id="getChart" resultType="AdminVo">
		select TO_CHAR(o.order_date, 'yyyy/mm/dd') order_date,
        sum(o.order_amount*p.price) revenue
        from t_order o,t_product p
        where o.product_id = p.product_id
        group by TO_CHAR(o.order_date, 'yyyy/mm/dd')
        order by TO_CHAR(o.order_date, 'yyyy/mm/dd') desc
	</select>
	
	<select id="getBestSeller" resultType="AdminVo">
	<![CDATA[
		select a.cnt,b.product_name from
        (select product_id,sum(order_amount) cnt from t_order
        group by product_id
        order by sum(order_amount) desc)a,t_product b
        where a.product_id = b.product_id
        and rownum <= 5
    ]]>
	</select>

 </mapper>
